@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
}

/* --- 文章详情页排版美化 --- */
.ql-editor {
  line-height: 1.8 !important; 
  font-size: 1.1rem;
}

.ql-editor p {
  margin-bottom: 1.5rem !important;
  color: #374151;
}

.ql-editor strong {
  @apply text-blue-600 font-bold;
}

.ql-editor h2 {
  @apply font-black text-gray-900 mt-10 mb-6 text-2xl border-l-4 border-blue-600 pl-4;
}

.ql-editor img {
  @apply rounded-3xl shadow-lg my-10 max-w-full h-auto;
}

/* --- 评论区样式 --- */
.comment-box {
  @apply bg-white border border-gray-100 shadow-sm rounded-3xl p-6 flex-grow;
}
